<section id="artists" class="artists-section">
  <div class="container">
    <h2 class="artists-title">Artists</h2>
    <h3 class="artists-subtitle">Explore Your New Favorite Artists</h3>
    <ul class="artists"></ul>
    <span class="loader" style="display: none;"></span>
    <div class="load-more-wrapper">
      <button class="load-more-btn">
        Load More 
        <svg class="arrow-down-icon" width="14" height="14">
        <use href="/img/sprite.svg#arrow-down"></use>
      </svg>
    </button>
    </div>
  </div>
</section>

