<section id="idArtists" class="artists-section" style="scroll-margin-top: -5px">
  <div class="container">
    <h2 class="artists-title">Artists</h2>
    <p class="artists-subtitle">Explore Your New Favorite Artists</p>
    <ul class="artists"></ul>
    <span class="loader section-artists-loader" style="display: none"></span>
    <button class="load-more-btn" style="display: none">
      Load More
      <svg class="arrow-down-icon" width="14" height="14">
        <use href="/img/sprite.svg#arrow-down"></use>
      </svg>
    </button>
  </div>
</section>
