<footer class="footer">
  <div class="container">
    <div class="section-footer-nav">
      <a class="link-logo-ftr" href="./index.html">
        <svg class="logo-icon-ftr">
          <use href="/img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <ul class="footer-nav">
        <li class="footer-item"><a href="#idArtists">Artists</a></li>
        <li class="footer-item"><a href="#idAbout">About us</a></li>
        <li class="footer-item"><a href="#idReviews">Reviews</a></li>
        </ul>
    </div>

    <div class="footer-item-link">
      <ul class="footer-links">
        <li class="footer-link-adrs"><a href="https://www.instagram.com/" target="_blank" >
            <svg class="icons-footer" width="30" height="30">
              <use href="/img/sprite.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="footer-link-adrs"><a href="https://www.facebook.com/ " target="_blank" >
            <svg class="icons-footer" width="33" height="33">
              <use href="/img/sprite.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="footer-link-adrs"><a href="https://www.youtube.com/ " target="_blank" >
            <svg class="icons-footer" width="33" height="23">
              <use href="/img/sprite.svg#icon-youtube"></use>
            </svg>
          </a>
        </li>
      </ul>
      
      <p class="footer-text"><span>&#169;</span> 2025 ArtistsHub. All rights reserved.</p>
    </div>

    
  </div>
</footer>