:root {
  font-family: 'IBM Plex Sans', 'Epilogue', sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  color: #fff;
  background-color: #060307;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  margin-top: 72px;
  overflow-y: scroll;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
