/* Мобільна версія */
.swiper {
  max-width: 100%;
  margin-top: 64px;
  margin-bottom: 64px;
  min-height: 254px;
}

.swiper-slide {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.swiper-button-next,
.swiper-button-prev {
  display: none !important;
  }

.feedback-descr{
  color: #FFFFFF;
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: -0.01em;
  text-align: center;
  margin-bottom: 32px;
}

.feedback-name{
  color: #FFFFFF;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0;
  text-align: center;
}

.swiper-pagination{
  margin-top: 0px;
}

.swiper .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.2) !important;
  opacity: 1 !important;
}

.swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgb(255, 255, 255) !important;
  width: 8px;
  height: 8px;
  margin: 0 9px;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-bottom: 32px;
}

.star-custom {
  display: inline-block;
  width: 20px;
  height: 19px;
  background-size: 20px 19px;
  background-repeat: no-repeat;
  background-position: center;
}

/* Планшетна версія */
@media screen and (min-width: 768px) {
.swiper {
  min-height: 298px;
}

.swiper-slide {
  padding: 93px;
}

.swiper-button-next,
.swiper-button-prev {
  display: flex !important;
  box-sizing: border-box;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  background: rgb(6, 3, 7);
  width: 48px !important;
  height: 48px !important;
  position: absolute;
  top: var(--swiper-navigation-top-offset, 50%)!important;
  cursor: pointer;
}

.icon-arrow {
  width: 24px !important;
  height: 24px !important;
  fill: white;
  pointer-events: none;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.feedback-descr{
  font-size: 26px;
}

.icon-arrow{
  fill: #FFFFFF;
}
}

/* Десктопна версія */
@media screen and (min-width: 1440px) {

.swiper {
  min-height: 339px;
}

.swiper-slide {
  padding-left: 223px;
  padding-right: 223px;
}

.feedback-descr{
  font-size: 32px;
  line-height: 1.3;
}
}


